{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-evenly">


        {% for item in items %}
       <a href="{{ path('ajoutMenuPanier', {'id': item.id,'idmenu': idmenu ,'param': param}) }}" class="col-md-4" ><div class="card m-4 p-0 rounded border-success mb-3" style="max-width: 20rem;">
                <img height="200" src="{{ asset('upload/')~item.photo }}" alt="">
                <div class="card-header ">{{  item.nom  }}</div>
               

            </div>  </a>


        {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

